@model IEnumerable<FinPortal.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            Bank Account
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetItem.Name)
        </th>
        <th>
            Owner
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
